.error_content{
    width:100%;
    height:50vh;
    justify-content: center;
    text-align: center;
}

.error_content_picture{
    margin-top: 30px;
    //transform-origin: center;
    //transform: rotate(180deg);
}