// ==========================================================================
// Settings / Config / Colors
// ==========================================================================

// Palette
// =============================================================================
$white: #FFFFFF;
$black: #0a0707;
$green: #64bd5a;
//$start_color:$white;

$start_color:hsl(112,59%,82%);
$end_color:hsl(100,75%,25%);
// Specific
// =============================================================================
// Link
$link-color:       $black;
$link-focus-color: $black;
$link-hover-color: $white;
// Selection
$selection-text-color:       $green;
$selection-background-color: $black;

// Social Colors
// =============================================================================
$facebook-color:  #3B5998;
$instagram-color: #E1306C;
$youtube-color:   #CD201F;
$twitter-color:   #1DA1F2;
$linkedin-color: #56a5da;
$github-color: #272727;



